
<body>
<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title txt-color-blueDark">
			<i class="fa fa-pencil-square-o fa-fw "></i> 
				Areas
			<span>> 
				Administracion de Areas
			</span>
		</h1>
	</div>	
</div>
<section id="widget-grid" class="">
	<div class="row">
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">				
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>Lista de Areas</h2>
				</header>
				<div>
					<div class="jarviswidget-editbox">
					</div>
					<div class="widget-body no-padding">
						<div class="table-responsive">
							
							<table class="table">
							<thead>			                
								<tr>
									<th >ID</th>
									<th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Area</th>
									<th data-hide="phone,tablet"><i></i> Descripcion</th>
									<th data-class="expand"></th>
									 </tr> </thead> <tbody id = "Tematico">
							</tbody>
						</table>
						</div>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
		</article>
	</div>

	
	<div class="row">


		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-6">
		<div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false">
				
				<header>
					<span class="widget-icon"> <i class="fa fa-eye-slash"></i> </span>
					<h2>Realizar Busqueda</h2>

				</header>

				<!-- widget div-->
				<div>

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<div class="widget-body">

						<form class="form-horizontal">
							
							<fieldset>							
								<div class="well">		
								<div class="input-group">
									<input class="form-control" type="text" placeholder="Search..." id="texto">
										<div class="input-group-btn">
											<button class="btn btn-default btn-primary" type="button" id="buscar">
											<i class="fa fa-search"></i> Buscar
											</button>
										</div>
								</div>
								</div>
								
							</fieldset>
						</form>

					</div>
				</div>				
			</div>

		</article>
		<article class="col-sm-12 col-md-12 col-lg-6">

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
					<h2>Registro de Areas Nuevas </h2>

				</header>

				<!-- widget div-->
				<div>

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">

						<form method="POST" class="smart-form" id = "post-form">
							<header>
								Registro de Areas
							</header>
							
							<fieldset>	
							{% csrf_token %}							
								<section>
									<label class="label"  >{{form.id}}</label>
									<label class="label">Nombres:</label>
									<label class="input" id="lblnobre">
										{{form.area_nom}}
									</label>
									<div class="note note-error" id="eNon"></div>

								</section>						
								<section>
									<label class="label">Observaciones</label>
									<label class="textarea textarea-expandable"> 							{{form.area_descripcion}}				
									</label>						
								</section>								
							</fieldset>		
							<div id="results"></div>							
							<footer>
								<button type="button" class="btn btn-success disabled" type="button" id="btncambios"><i class="fa fa-save" ></i>
									Guardar Cambios
								</button>
								<button type="submit"  class="btn btn-primary" id="btnGuardar">
									Guardar
								</button>
								<button type="button" class="btn btn-default" onclick="window.history.back();">
									Regresar
								</button>
							</footer>
						</form>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

		</article>
	</div>


</section>

<script >


$('#post-form').on('submit', function(event){
    event.preventDefault();     
    create_post();});
    function create_post() { 
    $.ajax({
        url: '/create-area/',
        type : "POST",
        data : $('#post-form').serialize(), 
        success : function(json) 
        {        	
            if (json.errors)
            {
            	if(json.errors.area_nom)
            	{            		
            		$('#lblnobre').removeClass('input state-success');
            		$('#lblnobre').addClass('input state-error')
            		$("#eNon").text(json.errors.area_nom);
            	}else
            	{
            		$('#lblnobre').addClass('input state-success');
            		$("#eNon").text( "");
                }
            }
            else
            {
            	alert(json.result);
            	location.reload();
            }
        }
    });
};
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
 function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
	$("#buscar").on("click", metodo)
	function metodo()
	{
		$('#btncambios').addClass('disabled')
		$('#btnGuardar').removeClass('disabled')
		var opcion=$(texto).val()
		$.ajax({ 
			data: {'texto': opcion,'seleccion': 0},
			url: '/buscar-area/',
			type: 'get',
			success: function(data)
			{
				$("#Tematico tr").remove();
				for (var i=0; i<data.length; i++)
				{									
					var tr = '<tr>';
					var td1 = '<td>' + data[i].pk + '</td>';
               var td2 = '<td>' + data[i].fields.area_nom +'</td>';
               var td3 = '<td>' + data[i].fields.area_descripcion +'</td>';
               var td8 = '<td><a href="#" role="button" class="btn btn-primary btn-xs" data-toggle="modal" id="' + data[i].pk + '" data-name="'+data[i].pk+'"><i class="fa fa-pencil"></i> &nbsp;&nbsp;Modificar</a></td></tr>'
               

               $("#Tematico").append(tr + td1 + td2 +td3+td8);					
					//alert("dddd");
				}
			}
		});
	}
	$(document).on("click",".btn-xs",Cargar);
	function Cargar()
	{
		var opcion=$(this).attr('id')
		$.ajax({ 
			data: {'texto': opcion,'seleccion': 1},
			url: '/buscar-area/',
			type: 'get',
			success: function(data)
			{
				$('#btncambios').removeClass('disabled')
				$("#codigo").val(data[0].pk)
				$('#btnGuardar').addClass('disabled')   	
				$("#nombres").val(data[0].fields.area_nom)
				$("#observacion").val(data[0].fields.area_descripcion)
			}
		});
	}
$("#btncambios").on("click", guarCambios)
	function guarCambios()
	{
		$.ajax({
        url: '/modi-area/',
        type : "POST",
        data : $('#post-form').serialize(), 
        success : function(json) 
        {
        	if (json.errors)
            {
            	if(json.errors.area_nom)
            	{            		
            		$('#lblnobre').removeClass('input state-success');
            		$('#lblnobre').addClass('input state-error')
            		$("#eNon").text(json.errors.area_nom);
            	}else
            	{
            		$('#lblnobre').addClass('input state-success');
            		$("#eNon").text( "");
                }
            }
            else
            {
            	alert(json.result);
            	location.reload();
            }
				//console.log(json)
		}
		});
	}
</script>

<script type="text/javascript">

	/* DO NOT REMOVE : GLOBAL FUNCTIONS!
	 *
	 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
	 *
	 * // activate tooltips
	 * $("[rel=tooltip]").tooltip();
	 *
	 * // activate popovers
	 * $("[rel=popover]").popover();
	 *
	 * // activate popovers with hover states
	 * $("[rel=popover-hover]").popover({ trigger: "hover" });
	 *
	 * // activate inline charts
	 * runAllCharts();
	 *
	 * // setup widgets
	 * setup_widgets_desktop();
	 *
	 * // run form elements
	 * runAllForms();
	 *
	 ********************************
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */

	pageSetUp();
	
	/*
	 * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
	 * eg alert("my home function");
	 * 
	 * var pagefunction = function() {
	 *   ...
	 * }
	 * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
	 * 
	 * TO LOAD A SCRIPT:
	 * var pagefunction = function (){ 
	 *  loadScript(".../plugin.js", run_after_loaded);	
	 * }
	 * 
	 * OR
	 * 
	 * loadScript(".../plugin.js", run_after_loaded);
	 */

	// PAGE RELATED SCRIPTS

	// pagefunction
	
	var pagefunction = function() {
		
		// class switcher for radio and checkbox
		$('input[name="demo-switcher-1"]').change( function() {
		  //alert($(this).val())
		  $this = $(this);
		  
		  myNewClass = $this.attr('id');
		  
		  $('.demo-switcher-1 input[type="checkbox"]').removeClass();
		  $('.demo-switcher-1 input[type="checkbox"]').addClass("checkbox "+ myNewClass);
		  
		  $('.demo-switcher-1 input[type="radio"]').removeClass();
		  $('.demo-switcher-1 input[type="radio"]').addClass("radiobox "+ myNewClass);
		  
		});
		
	};
	
	// end pagefunction
	
	// run pagefunction on load
	
	pagefunction();
	
</script>
